<div class="row">
  <div class="col-12 col-md-9">
    <div class="input-group">
      <input id="new-task" class="form-control" #taskName placeholder="Task title">
      <select [(ngModel)]="taskPriority" class="form-select" style="max-width: 150px;">
        <option value="1" selected>High</option>
        <option value="2">Medium</option>
        <option value="3">Low</option>
      </select>
      <select [(ngModel)]="taskCategory" class="form-select" style="max-width: 150px;">
        <option *ngFor="let taxonomy of taxonomies" [ngValue]="taxonomy">{{taxonomy.Name}}</option>
      </select>
    </div>
  </div>

  <div class="col-1 col-md-3">
    <button type="button" class="btn btn-primary" (click)="add(taskName.value) && taskName.value=''">
      Add task
    </button>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col-1">Priority</th>
    <th scope="col-6">Name</th>
    <th scope="col-2">Category</th>
    <th scope="col-2">Actions</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks | orderBy: 'Priority'" app-task [task]="task" (onDelete)="deleteTask($event)" (onUpdate)="updateTask($event)">
    </tr>
  </tbody>
</table>
